<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/masterLayout :: layout(~{::main})">


<body>

<main role="main">
    <div class="container-fluid">
        <div class="container">
            <section class="mt-4 bg-light ">
                <h3 class="text-center p-5"><i>BestSellers</i></h3>
                <div class="row">
                    <div class="col">
                        <div class="card shadow" style="width: 18rem;">
                            <img th:src="${books.get(0).imgUrl}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${books.get(0).title}"></h5>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Dolor harum in modi quibusdam quos voluptate?</p>
                                <div class="d-flex justify-content-between">
                                    <span class="lead text-muted" th:text="${'$'+books.get(0).price}"></span>
                                    <a th:href="@{/book/list-books}" class="btn btn-outline-primary px-5 py-2">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow" style="width: 18rem;">
                            <img th:src="${books.get(1).imgUrl}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${books.get(1).title}"></h5>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Dolor harum in modi quibusdam quos voluptate?</p>
                                <div class="d-flex justify-content-between">
                                    <span class="lead text-muted" th:text="${'$'+books.get(1).price}"></span>
                                    <a th:href="@{/book/list-books}" class="btn btn-outline-primary px-5 py-2">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col">-->
<!--                        <div class="card shadow" style="width: 18rem;height: 30rem">-->
<!--                            <img th:src="${books.get(2).imgUrl}" class="card-img-top" alt="">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title" th:text="${books.get(2).title}"></h5>-->
<!--                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--                                    Dolor harum in modi quibusdam quos voluptate?</p>-->
<!--                                <div class="d-flex justify-content-between">-->
<!--                                    <span class="lead text-muted" th:text="${'$'+books.get(2).price}"></span>-->
<!--                                    <a th:href="@{/book/list-books}" class="btn btn-outline-primary px-5 py-2 ">Details</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </section>

            <section id="quote">
                <div class="container text-center mt-4 p-5 ">
                    <h3>WHAT OR READERS ARE SAYING</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                            <blackquote class="blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iste pariatur possimus
                                    tempore.</p>
                                <footer class="blockquote-footer">James Serlay</footer>
                            </blackquote>
                        </div>
                        <div class="col-md-4">
                            <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                            <blackquote class="blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iste pariatur possimus
                                    tempore.</p>
                                <footer class="blockquote-footer">James Serlay</footer>
                            </blackquote>
                        </div>
                        <div class="col-md-4">
                            <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                            <blackquote class="blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iste pariatur possimus
                                    tempore.</p>
                                <footer class="blockquote-footer">James Serlay</footer>
                            </blackquote>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container text-center mt-4">
                    <h1>WHAT OTHERS ARE SAYING</h1>

                    <div class="row" th:each=" book : ${books}">
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <img th:src="${book.imgUrl}" alt="" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container text-center">
                    <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                    <blockquote class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam, voluptates.
                    </blockquote>
                    <footer class="blockquote-footer mt-3">Richard Chan</footer>
                </div>
            </section>
        </div>
    </div>
</main>

</body>
</html>